Source: fit-res
Section: System
Priority: optional
Maintainer: Vladislav Zavjalov <vl.zavjalov@gmail.com>
Build-Depends: libgsl-dev
Standards-Version: ${ver}

Package: fit-res
Architecture: any
Description: a command-line tool for fitting linear resonances
